@page "/profile"
@inject Services.IUserService UserService

<div class="container">
    <h1>Profile</h1>

    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" value="@email" placeholder="Email" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" bind="@username" placeholder="User Name" class="form-control"/>
        </div>
        <button type="button" class="btn btn-default"></button>
    </form>
</div>


@functions {
        string email { get; set; }
        string username { get; set; }

    protected override async Task OnInitAsync()
    {
        var user = await UserService.GetProfileAsync();

        if (user != null)
        {
            email = user.Email;
            username = user.UserName;
        }
    }
}